.cardsContainer {
  grid-column: breakout;
}
.cardHolder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 4em;
  justify-content: center;
  place-items: center;
}
.card {
  background-color: var(--clr-background-secondary);
  width: 19.2em;
  height: 21em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 2px 0px var(--clr-background);
  gap: 1em;
  box-sizing: border-box;
}
.card > img {
  height: 10.5em;
  width: inherit;
  justify-self: flex-start;
}
.card p {
  font-size: 1.125rem;
  color: var(--clr-text);
}
.lable-txt {
  padding-left: 1em;
}
