* {
  margin: 0%;
  padding: 0%;
  font-family: "Nunito Sans", sans-serif;
}
.dark-theme {
  --clr-background: hsl(207, 26%, 17%);
  --clr-background-secondary: hsl(209, 23%, 22%);
  --clr-text-input: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 100%);
}
.light-theme {
  --clr-background: hsl(0, 0%, 98%);
  --clr-background-secondary: hsl(0, 0%, 100%);
  --clr-text-input: hsl(0, 0%, 52%);
  --clr-text: hsl(200, 15%, 8%);
}
body {
  background-color: var(--clr-background);
}
.container {
  display: grid;
  grid-template-columns: 3em [breakout-start] 1fr [content-start] 1fr [content-end] 1fr [breakout-end] 3em;
  row-gap: 1.25em;
}
